.HelpOverlay {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.HelpOverlayContainer {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

/* TODO find better way to override tooltip colors */
.bs-tooltip-left .arrow::before {border-left-color: rgba(67, 70, 83, 0.8) !important;}
.bs-tooltip-bottom .arrow::before {border-bottom-color: rgba(67, 70, 83, 0.8) !important;}
.tooltip-inner {background-color: rgba(67, 70, 83, 0.8) !important;}

/* Glowy lightbulb button */
.Glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/*
Fullscreen overlay
https://stackoverflow.com/a/42136434/7028776
*/
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(67, 70, 83, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 1;
}

.overlay {
    color:white;
    height: 100%;
}

.overlay .title {
    text-align: center;
}

.overlay .helpButtonHelp{
    position: fixed;
    top: 50px;
    right: 20px;
}

.overlay .legendHelp{
    position: fixed;
    bottom: 300px;
    left: 20px;
}